#morals-section .moral-items {
    display: block;
    padding: 0rem 1.5rem 0 1.5rem;
}

#morals-section .moral-item {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

#showcase .showcase-content {
    align-items: center;
}

#showcase .showcase-content h1 {
    margin-right: 0;
    border-radius: 1rem 1rem 0 0;
}

#showcase .showcase-content p {
    margin: 0 0.25rem 0.25rem 0.25rem;
    border-radius: 3px;
}

#skills-section .skills-img {
    display: none;
}

#navbar {
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: normal;
    padding: 1rem 0 0 0;
}


#navbar ul {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

#navbar ul li a {
    padding: 2rem;
    transition: all 0.2s linear;
    display: block;
    width: 100%;
}

#navbar ul li {
    width: 100%;
}

#navbar h1 {
    align-self: center;
}

#navbar ul li a:hover {
    background-color: orange;
    color: #333;
}

#colleague-section .colleague-items {
    grid-template-columns: repeat(2, 1fr);
}




